// Bootstrap overrides
.navbar-reprograma
  li
    margin-top: .5rem
    &:last-child
      margin-top: 0
    a
      color: #FFF
      font-weight: 600
      font-size: 1.3rem
      &:hover,
      &:focus
        background-color: transparent
        color: darken(#FFF, 10%)

.main-header
.background-header
  background-image: url(../images/header/bg.png)
  background-repeat: no-repeat
  height: 100vh
  background-size: cover
  padding-top: 5rem

  .header-container
    margin-top: 11rem

  .caption
    font-size: 2.3rem
    color: #FFF
    clear: both
    line-height: 3rem
    font-weight: lighter
    letter-spacing: .2rem
    padding: 3rem 0

  .reprograma-logo
    width: 100%
    display: inline-table
    padding: 6rem 0
