// Bootstrap overrides
.navbar-reprograma
  @include transition(all 0.3s ease-in-out)
  @include animation(fadein 2s)
  li
    margin-top: .5rem
    &:last-child
      margin-top: 0
    a
      color: #FFF
      font-weight: 600
      font-size: 1.3rem
      &:hover,
      &:focus
        background-color: transparent
        color: darken(#FFF, 10%)

  .navbar-toggle
    border-color: #FFF
    .icon-bar
      background-color: #FFF

  &.navbar-scrolled
    background-color: darken($primary-color, 20%)
    @include transition(all 0.3s ease-in-out)
    li a
      color: #FFF

    .reprograma-logo
      .light-purple
        color: lighten($primary-color, 30%)

.main-header,
.background-header
  background-image: url(../images/header/bg.png)
  background-repeat: no-repeat
  height: 100vh
  background-size: cover
  padding-top: 5rem
  background-attachment: fixed

  @keyframes fadein
    from
      opacity: 0
      transform: translateY(3rem)
    to
      opacity: 1
      transform: translateY(0)

  .header-container
    @include animation(fadein 2s)
    margin-top: 11rem

  .caption
    font-size: 2.3rem
    color: #FFF
    clear: both
    line-height: 3rem
    font-weight: lighter
    letter-spacing: .2rem
    padding: 3rem 0

  .reprograma-logo
    width: 100%
    display: inline-table
    padding: 6rem 0

@media (max-width: $screen-xs-max)
  .navbar-reprograma
    &.navbar-scrolled
      .navbar-toggle
        border-color: $primary-color
        .icon-bar
          background-color: $primary-color

  .header-container
    margin-top: 0

  .responsive
    font-size: 1.4rem

    .navbar-collapse
      background-color: $primary-color

  .partners
    .partner
      display: block
      margin-bottom: 5rem
      margin-right: 0
      width: 100%
